* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('nuages-style-anime.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 1.8rem;
    color: #ff69b4;
}

nav {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav a {
    text-decoration: none;
    color: #ff69b4;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff1493;
}

main {
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.description h2 {
    color: #ff69b4;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.description ul {
    list-style-type: disc;
    padding-left: 20px;
}

.description ul li {
    margin-bottom: 10px;
}

.description p {
    margin-top: 15px;
}

.description a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.description a:hover {
    background-color: #ff1493;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.boutique h2 {
    color: #ff69b4;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.boutique p {
    margin-bottom: 10px;
}

.boutique .btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: #ff69b4;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.boutique .btn:hover {
    background-color: #ff1493;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.invitation {
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}


